* {
  box-sizing: border-box;
  color: rgb(43, 255, 0);
}

body {
  background: linear-gradient(0deg, rgb(9, 93, 138) -90%, rgb(0, 0, 0) 50%);
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Stick No Bills", sans-serif;
  text-align: center;
  font-size: 70px;
  margin: 0;
  padding-top: 10px;
  border-bottom: 1px solid rgb(30, 157, 5);
  width: 350px;
}

#screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#message-screen {
  /* background-color: rgb(13, 23, 14); */
  background-image: url("../assets/screen1.png");
  background-size: cover;
  width: 600px;
  height: 60px;
  text-align: center;
  border: 2px solid grey;
  font-family: "Gemunu Libre", sans-serif;
}

#button-section {
  padding-top: 20px;
}

button {
  background-color: rgb(13, 23, 14);
  border: 1px solid rgb(43, 255, 0);
  padding: 5px 15px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgb(43, 255, 0);
}

button:hover,
#submit-button:hover,
#submit-button-2:hover,
#submit-button-3:hover,
#submit-button-4:hover,
#submit-button-5:hover {
  color: rgb(216, 5, 5);
  border: 1px solid rgb(216, 5, 5);
  box-shadow: 1px 1px 5px rgb(216, 5, 5);
}

#message {
  padding: 5px 5px;
  font-size: 18px;
  margin: 0;
}

input {
  background-color: black;
  padding: 5px;
  text-align: center;
  border: 1px solid rgb(43, 255, 0);
}

#playable-area {
  display: flex;
  justify-content: space-evenly;
}

#player-map,
#comp-map {
  width: 498px;
  /* background-color: rgb(94, 94, 94); */
  background-image: url("../assets/screen2.png");
  background-position-x: center;
  background-size: cover;
  height: 498px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 5px;
  border: 4px solid rgb(74, 73, 73);
}

#player-map div p {
  color: rgb(43, 255, 0);
  text-shadow: 1px 1px 5px black;
}

#stats {
  display: flex;
  justify-content: space-evenly;
}

#player-stats,
#comp-stats {
  width: 500px;
  padding: 5px 15px;
}

.player-grid,
.comp-grid {
  width: 60px;
  height: 60px;
  /* background-color: rgb(13, 23, 14); */
}

.player-grid i {
  font-size: 30px;
  color: rgb(154, 6, 6);
  margin: 14px 18px;
}

.player-grid p {
  font-size: 12px;
  margin: 0;
  padding: 3px;
}

#ship-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#ship-div {
  border: 1px solid rgb(43, 255, 0);
  background-color: rgb(13, 23, 14);
  width: 1000px;
  text-align: center;
  border-radius: 5px;
}

#ship-div p {
  margin: 5px;
}

#ship-sizes {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.grid-on {
  border: 1px solid rgb(43, 255, 0);
  box-shadow: 1px 1px 15px rgb(43, 255, 0);
}

.miss {
  background-color: rgb(96, 13, 13);
  border-color: crimson;
}

.hit {
  background-color: rgb(7, 228, 55);
  border-color: rgb(43, 255, 0);
}

.player-ship {
  background-color: rgb(44, 210, 10);
}

.player-hit {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../assets/static-glitch.gif");
  background-size: contain;
}

.player-miss {
  background-image: url("../assets/1200px-Cross_green_icon.svg.png");
  background-size: contain;
}

.player-loss {
  background-image: url("../assets/static-glitch.gif");
  background-size: contain;
}

.hidden {
  display: none;
}

.danger {
  animation: danger 1s alternate infinite;
}

@keyframes danger {
  from {
    border: 1px solid rgb(43, 255, 0);
    box-shadow: 1px 1px 15px rgb(43, 255, 0);
  }
  to {
    border: 1px solid rgb(255, 25, 0);
    box-shadow: 1px 1px 15px rgb(255, 25, 0);
  }
}
